body {
    background-color: pink;
}

img {
    margin: 10px;
}

p {
    padding: 10px;
    text-align: center;
}

h1  {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}
 h3 {
     font-size: 15pt;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}